.ourTutors {
    padding: 20px;
    background: #e24f44;

    .sectionTitle {
        text-align: center;
        margin-bottom: 20px;
        color: #f9f9f9;

        h2 {
            font-size: 24px;
            font-weight: bold;
            margin-top: 5px;
        }

        span {
            font-size: 14px;
            color: #fff;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        margin:0 0.8rem;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }

        .imageContainer {
            width: 100%;
            height: 300px;
            overflow: hidden;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }

        .clientInfo {
            text-align: center;

            h3 {
                font-size: 18px;
                margin: 10px 0 5px;
            }

            span {
                font-size: 14px;
                color: #555;
            }
        }
    }
}
.image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}