.sliderContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
  
    .slider {
      display: flex;
      transition: transform 0.5s ease;
    }
  
    .slide {
      flex-shrink: 0;
      overflow: hidden;
      transition: all 0.3s ease;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      margin: 0 5px; 

    
    }
  
    .sliderButton {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 24px;
      padding: 10px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
  
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
  
      &.prev {
        left: 10px;
      }
  
      &.next {
        right: 10px;
      }
    }
  }
  