:root {
  --bs-primary-rgb: 52, 118, 251;
}

.form-control {
  border-radius: 0.25rem;
}

body {
  position: unset !important;
}

iframe.skiptranslate {
  display: none !important;
}

.skiptranslate {
  display: inline-block;
  font-size: 0 !important;

  & span {
    display: none;
  }

  & div {
    select {
      font-size: 14px;
    }
  }
}

.calculator-content {
  margin-top: 110px;

  @media all and (max-width: 768px) {
    margin-top: 100px;
  }

  .image-input-container .order-md-2 {
    order: 2 !important;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .main-nav .navbar .navbar-brand img {
    max-width: 100px;
  }

  section.footer-area {
    width: 100vw;
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 1199px) {
  .main-nav .navbar .navbar-brand img {
    max-width: 120px;
  }
}

.redLine {
  color: red;
  width: 50px;
}

.single-footer-widget .footer-contact-info .callIcon .call {
  top: -5px;
  font-size: 30px;

  @media all and (max-width: 768px) {
    font-size: 25px;
  }
}

.user-inputs {
  .form-control {
    height: 40px;
  }
}

@media (min-width: 992px) {
  .pt-md-100 {
    padding-top: 100px !important;
  }
}

.user-inputs .min-height {
  min-height: 70px;
}

.katex-display>.katex {
  font-size: 1rem;
}

@media (max-width: 767px) {
  .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    left: 0;
  }
}

.round-image {
  border-radius: 150px;
  height: 250px;
  width: 300px;
}

.owl-stage {
  display: flex;
  padding-bottom: 2rem;
}

.h-100p {
  height: 100%;
}

.subect-list-container {
  flex-wrap: wrap;

  .subject-list-item {
    flex: 0 0 25%;
    width: 30%;
    max-width: 25%;
    padding: 1rem 0.5rem;
    height: inherit;
    cursor: pointer;

    .single-partner-item {
      flex: 0 0 100%;
      width: 120%;
      max-width: 100%;
    }

    @media all and (max-width: 991px) {
      flex: 0 0 33%;
      width: 33%;
      max-width: 33%;
    }

    @media all and (max-width: 767px) {
      flex: 0 0 50%;
      width: 50%;
      max-width: 50%;
    }

    @media all and (max-width: 576px) {
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;
    }
  }

  .single-subjct-topic {
    flex: 0 0 100%;
    width: 100%;
    min-height: 82px;
    max-width: 100%;
    padding: 1rem 0.5rem;
    height: inherit;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .subject-image {
      width: 50px;
      margin: 0.5rem;
      border-radius: 25px;
      border: 1px solid #ddd;
      box-shadow: 0 0 3px #000;
      aspect-ratio: 1 !important;

      &#alttext-container {
        display: none;
      }
    }

    .subect-details {
      width: 75%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.roundCorner {
  border-radius: 20px;
}

.color-reddish {
  color: #e24f44;
}

.page-title-area.subject-page {
  height: initial;
}

.outline-btn {
  text-align: center;
  overflow: hidden;
  z-index: 1;
  text-transform: uppercase;
  transition: $transition;
  background-color: #fff;

  font: {
    weight: 600;
    size: 15px;
  }

  padding: {
    left: 35px;
    right: 35px;
    top: 8px;
    bottom: 5px;
  }

  &:hover,
  &:focus {
    color: $white-color;
  }
}

.notes-container {
  text-align: left;

  .card-body {
    padding: 40px 0;
  }

  h2 {
    color: red;
    text-align: left;
  }

  h4 {
    color: blue;
  }

  h5 {
    color: #ffc139;
    padding-bottom: 5px;
    padding-top: 15px;
  }

  span {
    text-align: center;
  }

  img {
    height: 300px;
    width: auto;
  }
}

#watermark {
  display: none;
}

@media print {

  .footer-area,
  .image-input-container,
  .dropdown,
  button,
  #navbarSupportedContent,
  .others-options,
  // .no-print *,
  .notes-container,
  .bottom-note,
  .export-actions {
    display: none !important;
  }

  .calculator-content {
    margin-top: 10px;

    &>h2,
    &>span,
    &>hr {
      display: none;
    }
  }

  .shape-img1 {
    display: none;
  }

  .shape-img2 {
    display: none;
  }

  .shape-img3 {
    display: none;
  }

  .shape-img4 {
    display: none;
  }

  .shape-img5 {
    display: none;
  }

  .shape-img6 {
    display: none;
  }

  .shape-img7 {
    display: none;
  }

  .shape-img8 {
    display: none;
  }

  .shape-img9 {
    display: none;
  }

  .shape-img10 {
    display: none;
  }

  .navbar-area.is-sticky {
    position: unset;
  }

  #watermark {
    display: block;
    position: fixed;
    font-size: 200px;
    opacity: 0.1;
    z-index: 111111;
    top: 60vw;
    text-align: center;
    transform: rotate(-60deg);
  }

  .calculator-content {
    :nth-child(4) {
      display: none;
    }

    a {
      display: none;
    }
  }

  .katex-display>.katex.katex {
    max-width: 100%;

    &>.katex-html {
      max-width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      padding-left: 2px;
      padding-right: 2px;

      &>.base {
        white-space: normal;
        width: 100%;
      }
    }
  }

  .print-logo {
    margin: 0 auto;

    img {
      width: 320px !important;
    }
  }
}

.katex {
  font: normal 1.21em KaTeX_Main, Times New Roman, serif;
  line-height: 1.2;
  white-space: normal;
  text-indent: 0;
}

.section-title h2 {
  font-size: 35px;
}

.col-4-5 {
  flex: 0 0 auto;
  width: 37.5%;
}

.color-white {
  color: #fff;
}

.single-feedback-item {
  p {
    height: 200px;
    overflow-y: auto;
  }

  a:hover {
    color: #e24f44 !important;
  }
}

.equation-container {
  table {
    margin: 0 auto;
    text-align: left;
  }

  td {
    padding: 5px 15px;
  }
}

.border-b-1-d {
  border-bottom: 1px dashed black;
}



.background-reddish {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 60%;
    right: 0;
    z-index: -1;
    background-color: #e24f44;

    margin: {
      left: 50px;
      right: 50px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .background-reddish {
    &::before {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.myinput {
  border: 1px solid #0d6efd;
  border-radius: 4px;
}

.tutor {
  .single-feedback-item {
    border-radius: 0 50px;
    height: 490px;
    box-shadow: 0px 5px 15px #e24f44a8;
  }
}

.tutor-details {
  border-radius: 0 50px;
  height: 490px;
  width: 25rem !important;
  box-shadow: 0 5px 15px rgba(226, 79, 68, .659);
  margin: 30px 15px;
  overflow: hidden;
  position: relative;
  display: flex !important;
  flex-direction: column;
  z-index: 1;
  .client-info {
    text-align: center;
    line-height: 0.8rem;
    margin-top: 0.8rem;
  }

  .tutor-image {
    padding:0 2rem;
    height: 400px !important;
    object-fit: cover;
    aspect-ratio: 4/3;
    border-radius: 0 30px;
  }
}

.single-team-box {
  height: 550px;

  .image {
    img {
      height: 410px;
      object-fit: cover;
    }
  }
}

.export-actions {
  &:hover {
    cursor: pointer !important;
  }
}

.solution-container {
  &>.card-body {
    text-align: left !important;

    .katex-html {
      text-align: left !important;
    }

    @media screen and (min-width: 992px) {
      align-self: center;
    }
  }

  a {
    text-decoration: underline !important;
    color: #397efa !important;
  }
}

.formula-container {
  .notes-container {
    span {
      text-align: left !important;
    }
  }
}

.comment-container {
  min-height: calc(1.5em + 0.75rem + 60px) !important;
}

.translator {
  display: flex;
}

.translator :hover {
  color: #0000ff !important;
}

//styles for markdown editor

.markdown-editor {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 10px;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    min-height: 200px;
  }
}

.markdown-editor__input {
  font-family: monospace;
  resize: none;
  padding-top: 20px;
  overflow: auto;
  min-height: 300px;
}

.markdown-editor__output {
  padding-right: 0;
  padding-bottom: 0;
  font-family: sans-serif;
}

.markdown-editor__Inner {
  overflow: auto;
  min-height: 300px;
  max-height: calc(100vh - 10rem);
  border-radius: 8px;
}

.markdown_common {
  flex: 1;
  padding: 1em;
  border: 1.5px solid #0d6efd;
  font-size: 1em;
  width: 60%;
  margin: 10px;
  border-radius: 8px;
}

.markdown-notes {
  text-align: left !important;
  padding: 10px !important;

  h5 {
    color: #ffc139 !important;
  }

  a {
    color: blue !important;
  }
}


.react-math-keyboard-input {
  border: 1px solid blue !important;
}

.mq-text-area {
 textarea::-webkit-input-placeholder::before {
  color: #666;
  content: 'Enter value';
 }
}
.mq-focused{
  border-radius: 3px !important;
  box-shadow: none !important;
}

.tableHeight {
  height: 30px !important;
  width: 20px !important;
}

.paddingZero.card {
  padding: 0 !important;
  border: none !important;
}

.paddingZero>.card-body {
  padding: 0 !important;
}

.matrixCell .react-math-keyboard-input-container {
  height: 100% !important;
}

.subject-nav {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.subjects-navbar {
  margin-top: 90px !important;
  background-color: #ececec;
  height: fit-content;
}

.subject-navbar-button {
  padding-left: 5px !important;
  padding-right: 5px !important;
  border-radius: 5px;
  background-color: #e7f3f3;
  display: flex;
  align-items: center;
}

.sri-subject-navbar-button {
  .sri-sub-nav-menu {
    display: none;
    width: 100vw;
    position: fixed;
    z-index: 111;
    margin-top: 15px;
    left: 27px;

    .nav-item {
      background: #ffee;
    }
  }

  &:hover .sri-sub-nav-menu {
    display: flex;
  }
}

.button-icons {
  cursor: pointer;
}

.katex-holder {
  padding: 12px 6px;
  border: 1px solid blue !important;
  border-radius: 4px;
  font-variant: normal;
  font-style: normal;
  font-size: 115%;
  line-height: 1;
}

table {
  table-layout: fixed;
  border-collapse: separate !important;
  border-spacing: 5px;

  .matrixCell {
    border-radius: 10px;
    border: 1px solid #0d6dfda5 !important;
    overflow: hidden;

    .card {
      overflow: hidden;
    }

    .mq-focused {
      outline: 0px !important;
    }
  }

  .react-math-keyboard-input {
    min-width: unset;
    padding: 5px !important;
  }

  .katex-display {
    margin: 5px !important;
  }

  .customInputLabel {
    .katex-display {
      margin: 3px !important;
      margin-left: 0px !important;
    }
  }
}

// About us Css

.mt {
  margin-top: -45px;
}

.links {
  display: flex;
  gap: 15px;
}

.links a {
  background-color: #f9f9f9;
  padding: 13px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-size: 25px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
}

.quora{
  color: #A82400;
} 
.reddit
{
  color: #FF5700;
}

.linkedin {
    color: #0077B5 
}
.twitter {
  color: #1DA1F2;
}

.Neetesh {
  color: rgb(4, 83, 83);
}

.Founder {
  color: rgb(4, 83, 83);
}

.links a:hover {
  color: unset;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.for {
  display: flex;
  justify-content: center;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 80%;
  row-gap: 15px;
  column-gap: 15px;
}

.box1 {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

.box2 {
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
}

.box3 {
  width: 100%;
  grid-column: 1/3;
  grid-row: 2/3;
}

.input-form {
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
}

@media (max-width: 500px) {
  .box {
    display: flex;
    flex-direction: column;
  }
}

// comment styles

.profile {
  width: 50px;
  height: 50px;
  // border: 1px solid black;
  background-color: slategray;
  // text-align: center;
  // align-items: center;
  display: inline-flex;

  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 50%;
}

.profile span {
  font-size: 35px;
  font-weight: 600;
  color: white !important;
}

.comment-div .date {
  float: right;
}

.comment p {
  margin-left: 58px;
  // margin-top: 10px;
}

.comment {
  // border: 1px solid black;
  word-wrap: break-word;
}

.commentTitle {
  margin-top: 30px;
  margin-bottom: 30px;
}

.commentBox {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

// api img

.imageCard {
  // border: 1px solid black;
  width: 260px;
  // height: 200px;
  // background-color: #a1a3a5;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.imageCard:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.23);
}

.imageCards {
  // border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  gap: 20px;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.imgDiv {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.23);
}

.imgDiv:hover {
  box-shadow: 0px 1px 8px 1px rgb(32 85 203 / 23%);
}

.popusBox {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  color: white;
  z-index: 100000;
}

.deleteImg {
  position: absolute;
  top: 20px;
  right: 30px;
}

.popusImgDiv {
  // border: 2px solid white;
  height: 90%;
  width: 95%;
  margin: 30px auto;
}

.popusImgDiv img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

span i {
  font-size: 25px;
}

@media (max-width: 500px) {
  .imageCards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0px;
  }

  .imageCard {
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 300px;
  }

  .popusImgDiv {
    // border: 2px solid white;
    width: 95%;
    height: 30%;
    margin: 170px auto;
  }

  .popusImgDiv img {
    object-fit: contain;
  }

  .deleteImg {
    margin-right: 20px;
  }
}

@media (min-width: 551px) and (max-width: 991px) {
  .imageCards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0px;
  }

  .imageCard {
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 300px;
  }

  .popusImgDiv {
    // border: 2px solid white;
    width: 90%;
    height: 40%;
    margin: 150px auto;
  }

  .popusImgDiv img {
    object-fit: contain;
  }

  .crossIcon {
    margin-right: 20px;
  }
}

.imageCard {
  transition: all 0.2s linear;
}

.imageCard:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 0px 8px 0px #0000ff;
}

.subject-button {
  max-width: 100%;
  text-align: left;
  font-size: 18px;
  height: auto;
  width: 33%;
  display: inline-block;
  border: 0.5px solid #0d6efd !important;
  background-color: #4f6efa26;
  border-radius: 8px;
  box-shadow: 4px 5px 7px 1px #999;
}

.boxes {
  transform: scale(1);
  transition: all 0.3s;
}

.boxes:hover {
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .subject-button {
    width: calc(50% - 0.5rem);
  }
}

@media (max-width: 768px) {
  .subject-button {
    width: 100%;
  }
}

.loader-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30000;
}

.spinner {
  position: relative;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
}

.spinner-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.3em solid #ccc;
  border-top: 0.3em solid #337ab7;
  /* primary color */
  animation: spin 1.5s linear infinite;
}

.spinner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #337ab7;
  /* primary color */
  animation: pulse 1.5s ease-in-out infinite;
}

.spinner-bubble {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #337ab7;
  /* primary color */
  animation: bubble 1.5s ease-in-out infinite;
}

.loader-text {
  font-size: 24px;
  color: #fff;
  margin-top: 20px;
  text-align: center;
}

.notes-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  padding: 5px;
  margin: 8px;

}

.sentence::first-letter {
  text-transform: capitalize;
}